rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function authAdmins() {
      let try = request.auth != null;
      let users = request.auth.uid == "CkQrBkIyVxVIz3aVcrxpJrKAuod2" || request.auth.uid == "1TwG9mXrGIOnp38r47MSm1jqsjo2" || request.auth.uid == "aPGz793N6ENXTJdqZ5CYoHyMXjd2";
      return try && users;
}
    match /contacts/{user_name} {
    	allow get: if authAdmins();
			allow list: if authAdmins();
			allow delete: if authAdmins();
     	allow create: if true;
			allow update: if false
    }
    match /careers/{Name} {
    	allow get: if true;
			allow list: if true;
			allow delete: if authAdmins();
     	allow create: if authAdmins();
			allow update: if authAdmins();
    }
  }
}

